In [1]:
import datetime
import pandas as pd

In [13]:
stockcode ='TCS'

ts1 = str(int(datetime.datetime(2017, 7, 20).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 7, 25).timestamp()))

#interval = '1d'
interval = '1wk'
#interval = '1mo'

events = 'history'
#events = 'div'
#events = 'split'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/TCS.NS?period1=1500489000&period2=1658687400&interval=1wk&events=history
1500489000 1658687400

In [16]:
try:
    stockdata = pd.read_csv(url)
    print(stockdata)
except:
    print("Not able to fetch value for code : "+stockcode)
    print("Either stock code is not correct or could be connectivity issue..")

           Date      Open         High          Low        Close    Adj Close  \
0    2017-07-17  1224.625  1250.000000  1215.250000  1245.599976  1145.025757
1    2017-07-24  1241.000  1292.400024  1221.000000  1242.150024  1141.854248
2    2017-07-31  1235.500  1264.150024  1231.000000  1261.400024  1162.817261
3    2017-08-07  1258.250  1267.500000  1240.599976  1248.025024  1150.487793
4    2017-08-14  1251.500  1274.949951  1231.050049  1256.900024  1158.669312
..          ...       ...          ...          ...          ...          ...
243  2022-03-14  3580.000  3710.000000  3580.000000  3672.750000  3672.750000
244  2022-03-21  3696.000  3779.500000  3615.000000  3707.449951  3707.449951
245  2022-03-28  3695.000  3763.000000  3661.199951  3758.750000  3758.750000
246  2022-04-04  3762.000  3835.600098  3642.500000  3685.649902  3685.649902
247  2022-04-08  3690.000  3705.000000  3642.500000  3685.649902  3685.649902

       Volume
0     3330920
1    12048116
2     8288584
3     6873332
4     6749574
..        ...
243  12107748
244  10486816
245   9588632
246  10631272
247   2296439

[248 rows x 7 columns]